:root {
  --dark-gray: #2b2b2b;
  --olive: #357b70;
  --orange: #e0b354;
  --green: #05676e;
  --light-green: #489c79;
  --bg-light-gray: #d3d3d3;
  --h-font-weight: 700;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  font-size: 30px;
  font-weight: var(--h-font-weight);
}

h2 {
  font-size: 24px;
  font-weight: var(--h-font-weight);
}

h3 {
  font-size: 18px;
  font-weight: var(--h-font-weight);
}

a {
  color: var(--olive);
}

a:hover,
a:focus {
  text-decoration: none;
}

a:visited {
  color: var(--green);
}

a:active {
  color: var(--light-green);
}

.profile-text-decoration {
  color:rgb(238, 9, 9);
  font-weight: 700;
}

button,
.button {
  border: none;
  text-decoration: none;
  display: inline-block;
  font-family: inherit;
  background-color: #357b70;
  color: white;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.page-header {
  display: flex;
  max-width: 100%;
  padding: 20px;
  border-bottom: 1px solid lightslategray;
  margin-bottom: 40px;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.page-footer {
  clear: both;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.work-profile {
  padding: 20px;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.page-footer li {
  display: inline-block;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid__item {
  background-color: var(--bg-light-gray);
  padding: 20px;
}

.grid__item:last-child {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
